
.wrapper {
	background-color: #ffffff;
}



.header {
	background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}


.menu__item a {
	color: #000;
}

.menu__item a:hover {
	color: #fd2155;
}

.header__contact {
	fill: #000;
}

.header__contact:hover {
	fill: #fd2155;
}

@media (max-width: 767.98px) {
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		background-color: #000000;
	}

    .menu__icon._active span,
	.menu__icon._active::before,
	.menu__icon._active::after {
		background-color: #fff;
	}

	.menu__body {
		background-color: rgba(0, 0, 0, 0.9);
	}

    .menu__item a {
        color: #fff;
    }


}

/*Блок-приветствие*/


.hello__image {
	background-image: linear-gradient(to top, #fd2155 10%, #08fdd8 100%);
	border: 10px solid #fff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

}


.block-text__title {
	color: #000000;
}

.logo_letter {
	color: #fd2155;
	text-shadow: -6px 3px 0px #08fdd8;

}

.block-text__text {
    color: #8d8d8d;
}


@media (max-width: 1470px) {
	.logo_letter {
		text-shadow: -4px 2px 0px #08fdd8;
	}

}


@media (max-width: 991.98px) {
	.logo_letter {
		text-shadow: -3px 2px 0px #08fdd8;
	}
}



/* Обо мне */

.secondary {
	border-top: 1px solid rgb(53, 53, 53);
}


.secondary__title {
	color: #fd2155;
}

.secondary__text {
	color: #000;
}

.link {
	color: #fd2155;
}


/* skills bar */

::selection{
	color: #fff;
	background: #6665ee;
}


.skills__bar{
	box-shadow: 3px 4px 16px 17px rgba(34, 60, 80, 0.36);
}


.skills__bar .bar .info span{
	color: #000;
}

.skills__bar .bar .progress-line{
	background: #313131;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
				0 1px rgba(0,0,0,0.8);
}


.bar .progress-line.frontend::after {
	background: #fd2155;
}

.bar .progress-line.backend::after {
	background: #fd2155;
}

.bar .progress-line.python::after {
	background: #d26cd5;
}

.bar .progress-line.flask::after {
	background: #08fdd8;
}

.footer__item {
	color: #c1403d;
}


[data-theme="dark"] {
	display: none;
}

[data-theme="light"] {
	display: block;
}