
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Coolvetica';
	src: url('../fonts/coolvetica rg.eot');
	src: local('☺'), url('../fonts/coolvetica rg.woff') format('woff'), url('fonts/coolvetica rg.ttf') format('truetype'), url('fonts/coolvetica rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

button {
	background-color: transparent;
  }

body._lock {
	overflow: hidden;
}


.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;	
	background-color: #1d1d1d;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1470px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* Шапка сайта + её адаптив */

@media (max-width: 1470px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}


.header {
	font-family: 'Open Sans', sans-serif;
	background-color: #181818;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 110px;
	align-items: center;

}
.header__logo {
	margin-left: 40px;
	z-index: 100;
}

.header__menu {
	flex: 1 1 auto;
}
.menu {
	display: flex;
	justify-content: center;
	margin: 0px 40px 0px 32px;
}

.menu__icon {
	display: none;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	gap: 70px;

}


.menu__item a {
	font-size: 1.6rem;
	color: #909096;
    line-height: 5rem;
	transition: color 0.3s, background-color 0.3s;
}

.menu__item a:hover {
	color: #08fdd8;
	transition: color 0.3s, background-color 0.3s;
}

@media (max-width: 991.98px) {
	.menu__list {
		gap: 40px;
	}
	.header__container {
		min-height: 90px;
	}

	.header__contacts svg, .header__contacts img{
		transform: scale(1.2);
		
	}

	.header__contacts svg, .header__contacts img{
		margin: 0px 5px;
	}

	.header__logo, .header__contacts {
		margin: 0;
	}

}

@media (max-width: 767.98px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #ffffff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}


	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 150px 30px 30px 60px;
		transition: all 0.3s ease;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
	}

	.header__contacts._active {
		left: 0;
	}

	.header__contacts {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 500px 30px 30px 70px;
		transition: all 0.3s ease;
		overflow: auto;
		
	}

	.header__contacts svg, .header__contacts img{
		transform: scale(1.7);
		margin-right: 50px;
		
	}

	.header__contacts:last-child{
		margin: 0px;
		
	}

	.menu__list {
		display: block;
		justify-content: flex-start;
		gap: 0px;
	}

	.menu {
		justify-content: right;
	}

	.menu__list li{
		margin: 0px 0px 20px 0px;
	}

	.menu__list li:last-child{
		margin: 0px;
	}

	.menu__item a {
		font-size: 2rem;
	}


}


.header__contacts {
	margin-right: 40px;
	display: flex;
	gap: 20px;
}

.header__contact {
	fill: #909096;
	transition: fill 0.3s;

}


.header__contact:hover {
	fill: #08fdd8;
	transition: fill 0.3s;

}

input[type="checkbox"] {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}

.header__check {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	background: #092c3e;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .header__check {
	background: #fff;
	box-shadow: 0 0 0 5000px #092c3e;
}

.header__check::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	background: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s;
}

input[type="checkbox"]:checked ~ .header__check::before {
	transform: translateX(-50px);
}

.header__check::after {
	content: "";
	position: absolute;
	top: 2px;
	right: 2px;
	background: #092c3e;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s;
	transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .header__check::after {
	transform: translateX(0px);
}

/*Блок-приветствие*/

.hello {
	padding: 250px 0px 150px 0px;
}
.hello__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 3%;
}
.hello__content {
	flex: 0 1 50%;
	font-family: 'Coolvetica';
	max-width: 700px;
}


.hello__image {
	flex: 0 1 50%;
	padding-left: 10%;
	justify-self: center;
	overflow: hidden;
	background-image: linear-gradient(to top, #fd2155 10%, #08fdd8 100%);
	border: 10px solid #fff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	animation: photo-animate 5s infinite alternate;

}

.hello__image img {
	max-width: 100%;
}

.block-text__title {
	font-family: 'Coolvetica';
	color: #fff;
    font-size: 7rem;
    line-height: 8.7rem;
	letter-spacing: 3px;
}

.logo_letter {
	font-family: 'Coolvetica';
	font-weight: 400;
    font-size: 7.2rem;
    line-height: 8.7rem;
	color: #fd2155;
	text-shadow: -6px 3px 0px #08fdd8;
	padding-left: 8px;

}

.block-text__text {
	font-size: 1.6rem;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #8d8d8d;
}

@keyframes photo-animate {
	0% {
		border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
	  }
	
	40% {
		border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
	  }
	
	60% {
		border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
	  }
	
	100% {
		border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
	  }
}


@media (max-width: 1470px) {
	.hello {
		padding: 200px 0px 110px 0px;
	}

	.block-text__title {
		font-size: 4rem;
		line-height: 6.7rem;
	}

	.logo_letter {
		font-size: 5rem;
		line-height: 6.7rem;
		text-shadow: -4px 2px 0px #08fdd8;
	}

	.hello__content {
		padding-right: 40px;
	}

	.hello__image {
		padding-left: 40px;
	
	}

	.block-text__text {
		font-size: 1.4rem;
		letter-spacing: 3px;
	}

}


@media (max-width: 991.98px) {
	.hello {
		padding: 150px 0px 100px 0px;
	}

	.block-text__title {
		font-size: 3rem;
		line-height: 5.7rem;
	}

	.logo_letter {
		font-size: 4rem;
		line-height: 5.7rem;
		text-shadow: -3px 2px 0px #08fdd8;
	}

	.hello__content {
		padding-right: 40px;
	}

	.hello__image {
		padding-left: 40px;
	
	}

	.block-text__text {
		font-size: 1.3rem;
		letter-spacing: 2px;
		margin-top: 2.5rem;
	}
}

 

@media (max-width: 767.98px) {
	.hello__content {
		max-width: none;
		flex: 1 1 100%;
		padding: 0;
	}

	.hello {
		padding: 130px 0px 30px 0px;
	}

	.hello__image {
		flex: 1 1 100%;
		text-align: center;
		margin-top: 10%;
	
	}
}

/* Обо мне */

.secondary {
	border-top: 1px solid rgb(53, 53, 53);
	padding: 80px 0px 80px 0px;
}

.secondary__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 3%;
}

.secondary__content {
	flex: 0 1 50%;
	font-family: 'Coolvetica';
	max-width: 700px;
	padding-right: 5%;
}

.secondary__title {
	color: #08fdd8;
	margin-bottom: 40px;
    font-size: 7.3rem;
	line-height: 6.7rem;
}
.secondary__text {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
    font-size: 1.6rem;
	line-height: 1.5;
    letter-spacing: 2px;
}

.link {
	color: #08fdd8;
}

.secondary__text p:first-child {
	margin-bottom: 15px;
}
.secondary__other {
	flex: 0 1 50%;
	padding-left: 5%;
	justify-self: center;
}

.secondary__other img {
	width: 100%;
}


/* skills bar */

::selection{
	color: #fff;
	background: #6665ee;
}


.skills__bar{
	padding: 25px 30px;
	width: 100%;
	box-shadow: 3px 4px 16px 17px rgba(34, 60, 80, 0.36);
	border-radius: 10px;
}

.skills__bar .bar{
	margin: 20px 0;
}

.skills__bar .bar:first-child{
	margin-top: 0px;
}

.skills__bar .bar .info{
	margin-bottom: 5px;
}

.skills__bar .bar .info span{
	color: #fff;
	font-size: 18px;
	animation: showText 0.5s 1s linear forwards;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
}

@keyframes showText {
	100% {
	  opacity: 1;
	}
}

.skills__bar .bar .progress-line{
	height: 10px;
	width: 100%;
	background: #313131;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
				0 1px rgba(255,255,255,0.8);
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
	100%{
	  transform: scaleX(1);
	}
}



.bar .progress-line.frontend::after {
	content: '';
    display: block;
    width: 70%;
	background: #08fdd8;
    height: 100%;
    border-radius: 9px;
}

.bar .progress-line.backend::after {
	content: '';
    display: block;
    width: 60%;
	background: #ff2253;
    height: 100%;
    border-radius: 9px;
}

.bar .progress-line.python::after {
	content: '';
    display: block;
    width: 85%;
	background: #d26cd5;
    height: 100%;
    border-radius: 9px;
}

.bar .progress-line.flask::after {
	content: '';
    display: block;
    width: 50%;
	background: #08fdd8;
    height: 100%;
    border-radius: 9px;
}


@keyframes showText2 {
	100%{
	  opacity: 1;
	}
}


@media (max-width: 1470px) {
	.secondary {
		padding: 50px 0px 80px 0px;
	}

	.secondary__title {
		margin-bottom: 40px;
		font-size: 5rem;
		line-height: 4.7rem;
	}

	.secondary__text {
		font-size: 1.4rem;
		line-height: 1.3;
		letter-spacing: 2px;
	}

	.secondary__content {
		padding-right: 20px;
	}

	.secondary__other {
		padding-left: 20px;
	}

}


@media (max-width: 991.98px) {
	.secondary {
		padding: 50px 0px 80px 0px;
	}

	.secondary__title {
		margin-bottom: 40px;
		font-size: 4rem;
		line-height: 3.7rem;
		margin-bottom: 30px;
	}

	.secondary__text {
		font-size: 1.5rem;
		line-height: 1.3;
		letter-spacing: 0px;
	}

}

@media (max-width: 767.98px) {
	.secondary {
		padding: 30px 0px 80px 0px;
	}

	.secondary__content {
		max-width: none;
		flex: 1 1 100%;
		padding: 0 10px;
	}

	.secondary__title {
		margin-bottom: 40px;
		font-size: 4rem;
		line-height: 3.7rem;
		margin-bottom: 30px;
	}

	.secondary__text {
		font-size: 1.6rem;
		line-height: 1.3;
		letter-spacing: 0px;
	}

	.secondary__text p:last-child {
		display: none;
	}

	.secondary__other {
		flex: 1 1 100%;
		text-align: center;
		margin-top: 5%;
		padding: 0px 10px;
	}

}


.footer {
	margin-top: 8%;
	padding: 20px 0px;
}

.footer__items {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__item {
	color: #c1403d;
	font-family: "Coolvetica";
	font-size: 16px;
	letter-spacing: 3px;
}
